<h1 class="animated fadeIn fast">Justice Leache</h1>
<hr>
<p class="animated fadeIn">The Justice League (also known as the Justice League of America (JLA)) are a team of superheroes appearing in American comic books published by DC Comics. The team first appeared in The Brave and the Bold #28 (March 1960). The team was conceived by writer Gardner Fox as a revival of the Justice Society of America, a similar team from DC Comics from the 1940s which had been pulled out of print due to a decline in sales.!</p>
